@model MusicStore.ModelView.AlbumsModelView

@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form asp-area="Admin" asp-controller="Albums" asp-action="Index" method="get">
    <div class="form-group">
        <label class="control-label">Artist</label>
        <select asp-for="ArtistID" class="form-control" asp-items="@Model.Artists" onchange="this.form.submit()">
            <option value="0">Select an Artist</option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Genre</label>
        <select asp-for="GenreID" class="form-control" asp-items="@Model.Genres" onchange="this.form.submit()">
            <option value="0">Select a Genre</option>
        </select>
    </div>

    <div class="form-group">
        <input type="text" asp-for="Keyword" class="form-control" value="@Model.Keyword" />
    </div>
</form>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Albums[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Albums[0].Artist.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Albums[0].Genre.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Albums)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artist.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AlbumID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AlbumID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AlbumID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
