@model IEnumerable<MusicStore.Models.Artist>

@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index";

    string[] alphabet = new string[]
    {
        "A",
        "B",
        "C",
        "D",
        "E",
        "F",
        "G",
        "H",
        "I",
        "J",
        "K",
        "L",
        "M",
        "N",
        "O",
        "P",
        "Q",
        "R",
        "S",
        "T",
        "U",
        "V",
        "W",
        "X",
        "Y",
        "Z"
    };
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    @foreach(string letter in alphabet)
    {
        <a asp-area="Admin" asp-controller="Artists" asp-action="Index" asp-route-letter="@letter">
            @letter
        </a>
    }
</div>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtistID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtistID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtistID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
